<html>
<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="container" class="grid-container">
        <div id="title"><img src="../static/assets/chevron_logo.png" height="70px" width="70px" style="margin-right:25px">Chevron Challenge</div>
        <div v-if="user=='home'" class="homepage">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'">Client</v-btn>
            <div class="homeArea">
                <span class="formTitle"><u>About Us</u></span>
            </div>
        </div>
        <!-- Admin -->
        <div v-else-if="user=='admin'">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'">Client</v-btn>
            <div class="adminArea">
                <span class="formTitle">Add a New Facility</span><br>
                <span class="formHeading">Facility Name:</span>
                <input type="text" style="width:208px" v-model="aFacilityName" placeholder="Enter here"><br>
                <span class="formHeading">Facility Location: </span>
                <input type="text" v-model="aLongitude" placeholder="longitude">,
                <input type="text" v-model="aLatitude" placeholder="latitude"><br><br>

                <span class="formTitle">Add a New Equipment</span><br>
                <div class="formHeading">Equipment Type:
                    <select class="dropDown" v-model="aSelectedEquipment">
                        <option v-for="equipment in equipments" :value="equipment.key">{{equipment.name}}</option>
                    </select>
                </div>

                <div class="formHeading">Facility Number to equip:
                    <select class="dropDown" v-model="aSelectedFacility">
                        <option v-for="facility in facilities" :value="facility.key">{{facility.name}}</option>
                    </select>
                </div><br>

                <div class="formHeading">Probability of failure:
                    <input type="number" step="0.01" style="width:190px" v-model="aProbabilityFailure" placeholder="0.00">
                </div>

                <div class="formHeading">Range of time required to fix:
                    <input type="number" style="width:50px" v-model="aMinTime" placeholder="0"> -
                    <input type="number" style="width:50px" v-model="aMaxTime" placeholder="0">
                </div><br>

                <span class="formTitle">Add a New Worker</span><br>
                <span class="formHeading">Worker's Name:</span>
                <input type="text" style="width:200px" v-model="aWorkerName" placeholder="FullName"><br>
                <div class="formHeading" style="margin-top:5px">Certification:
                    <input type="checkbox" id="sensor" value="sensor" v-model="checkedItems">
                    <label for="sensor">Sensor</label>
                    <input type="checkbox" id="security" value="security" v-model="checkedItems">
                    <label for="security">Security</label>
                    <input type="checkbox" id="networking" value="networking" v-model="checkedItems">
                    <label for="networking">Networking</label>
                    <input type="checkbox" id="pump" value="pump" v-model="checkedItems">
                    <label for="pump">Pump</label>
                    <input type="checkbox" id="HVAC" value="HVAC" v-model="checkedItems">
                    <label for="HVAC">HVAC</label>
                    <input type="checkbox" id="vehicle" value="vehicle" v-model="checkedItems">
                    <label for="vehicle">Vehicle</label><br>
                    <input type="checkbox" id="conveyor" value="conveyor" v-model="checkedItems">
                    <label for="conveyor">Conveyor</label>
                    <input type="checkbox" id="seperator" value="seperator" v-model="checkedItems">
                    <label for="seperator">Seperator</label>
                    <input type="checkbox" id="compressor" value="compressor" v-model="checkedItems">
                    <label for="compressor">Compressor</label>
                    <input type="checkbox" id="electricity" value="electricity" v-model="checkedItems">
                    <label for="electricity">Electricity</label>
                    <br>
                </div>
                <span class="formHeading">Worker's Shift:</span>
                <input type="text" style="width:200px" v-model="aWorkerShift" placeholder="shift">
                <br><br>

                <v-btn id="aSubmitButton" v-on:click="user='submit'">Submit<v-icon dark right>check_circle</v-icon>
                </v-btn>
            </div>
        </div>

        <!-- Client -->
        <div v-else-if="user=='client'">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'">Client</v-btn>
            <div class="clientArea">
                <span class="formTitle"><u>Workorder</u></span><br><br>
                <span class="formHeading">Facility: </span>
                <select class="dropDown" v-model="cFacilityId">
                    <option disabled value="">Please select one</option>
                    <option>Facility 1</option>
                    <option>Facility 2</option>
                    <option>Facility 3</option>
                    <option>Facility 4</option>
                    <option>Facility 5</option>
                </select><br><br>

                <span class="formHeading">Equipment Id: </span>
                <input type="text" style="width:150px" v-model="cEquipmentId" placeholder="Eg:Veh279"><br><br>

                <span class="formHeading">Priority level: </span>
                <select class="dropDown" v-model="cPriorityId" style="width:30px">
                    <option disabled value="">Please select one</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br><br>

                <span class="formHeading">Time to complete:
                    <input type="number" v-model="cCompleteTime" style="width:50px">&nbsphour(s)</span>
                <br><br>

                <span class="formHeading">Today's Date: </span>
                <input type="datetime-local" style="width:320px" v-model="cDate"><br><br><br>

                <v-btn id="aSubmitButton" v-on:click="user='submit'">Submit<v-icon dark right>check_circle</v-icon>
                </v-btn>
            </div>
        </div>

        <!-- Submit -->
        <div v-else-if="user=='submit'">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'">Client</v-btn>
            <div class="afterSubmit">
                <span id="submitSuccess">Submission Success!</span>
            </div>
        </div>
        
    </div>
</body>
<script src="../static/index.js"></script>
<link rel="stylesheet" href="../static/styles.css">
<!-- <script src="{{url_for('static', filename='index.js')}}"></script> -->

</html>