<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="container" class="grid-container">
        <div id="title"><img src="../static/assets/chevron_logo.png" height="70px" width="70px" style="margin-right:25px">Chevron
            Challenge</div>
        <div v-if="user=='home'" class="homepage">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'">Client</v-btn>
            <div class="homeArea">
                <span class="formTitle" style="font-size: 30px">Orders</span>
                <table class="table">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Equipment ID</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Status</th>
                        <th scope="col">Assigned to (Worker ID)</th>
                        <th scope="col">Worker Name</th>
                        <th scope="col">Time to completion</th>
                        <th scope="col">Facility ID</th>
                    </tr>
                    <template v-for="order in allOrders">
                        <tr>
                            <td scope="row">{{order.id || "--"}}</td>
                            <td>{{order.equipment_id || "--"}}</td>
                            <td>{{order.priority || "--"}}</td>
                            <td>{{order.status || "--"}}</td>
                            <td>{{order.worker_id || "--"}}</td>
                            <td>{{order.worker_name || "--"}}</td>
                            <td>{{order.time_to_completion || "--"}}</td>
                            <td>{{order.facility_id || "--"}}</td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
        <!-- Admin -->
        <div v-else-if="user=='admin'">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'">Client</v-btn>
            <div class="adminArea">
                <span class="formTitle">Add a New Facility</span><br>
                <span class="formHeading">Facility Location: </span>
                <input type="number" v-model="aLongitude" placeholder="longitude">,
                <input type="number" v-model="aLatitude" placeholder="latitude">
                <v-btn id="aSubmitButton" v-on:click="addNewFacility">Submit<v-icon dark right>check_circle</v-icon>
                </v-btn><br><br>

                <span class="formTitle">Add a Equipment to Facility</span><br>
                <div class="formHeading">Type:
                    <select class="dropDown" v-model="aSelectedEquipment">
                        <option v-for="type in types" :value="type.id">{{type.name}}</option>
                    </select>
                </div>

                <div class="formHeading">Facility Number to equip:
                    <select class="dropDown" v-model="aSelectedFacility">
                        <option v-for="facility in facilities" :value="facility.id">{{`Facility ${facility.id}`}}</option>
                    </select>
                    <v-btn id="aSubmitButton" v-on:click="addNewEquipment" style="margin-left: 40px;">Submit<v-icon dark right>check_circle</v-icon>
                    </v-btn><br><br>
                </div>

                <div class="formTitle">Add a New Equipment-type:</div><br>
                <div class="formHeading">Type:
                    <input type="text" style="width:170px" v-model="aNewEquipmentType" placeholder="Type"><br>
                    <span class="formHeading">Probability of failure:</span>
                    <input type="number" step="0.01" style="width:190px" v-model="probabilityFailure" min="0"
                        placeholder="0.00">
                </div>
                <div class="formHeading">Range of time required to fix:
                    <input type="number" style="width:50px" v-model="hourMin" min="0" placeholder="0"> -
                    <input type="number" style="width:50px" v-model="hourMax" min="0" placeholder="0">

                    <v-btn id="aSubmitButton" v-on:click="addNewEquipmentType" style="margin-left: 50px;">Submit<v-icon dark right>check_circle</v-icon>
                    </v-btn><br><br>
                </div>

                <span class="formTitle">Add a New Worker</span><br><br>
                <span class="formHeading">Worker's Name:</span>
                <input type="text" style="width:200px" v-model="aWorkerName" placeholder="FullName"><span style="color:black"></span><br>

                <span class="formHeading">Worker's Shift:</span>
                <input type="text" style="width:200px" v-model="aWorkerShift" placeholder="Shift">
                <v-btn id="aSubmitButton" v-on:click="addNewWorker" style="margin-left: 125px;">Submit<v-icon dark right>check_circle</v-icon>
                </v-btn><br><br>

                <span class="formTitle">Add certificates</span><br>
                <div class="formHeading">Worker:
                    <select class="dropDown" v-model="aCertificateWorkerName">
                        <option v-for="worker in workers" :value="worker.id">{{worker.name}}</option>
                    </select>
                </div>
                <span class="formHeading">Choose certificate to add:</span>
                <select class="dropDown" v-model="aCertificateWorker">
                    <option v-for="type in types" :value="type.id">{{type.name}}</option>
                </select>
                <v-btn id="aSubmitButton" v-on:click="addNewCertificate" style="margin-left: 45px;">Submit<v-icon dark right>check_circle</v-icon>
                </v-btn>
            </div>
        </div>

        <!-- Client -->
        <div v-else-if="user=='client'">
            <v-btn id="homeButton" v-on:click="user='home'">Home</v-btn>
            <v-btn id="adminButton" v-on:click="user='admin'">Admin</v-btn>
            <v-btn id="clientButton" v-on:click="user='client'" v-on:click="adminFiller">Client</v-btn>
            <div class="clientArea">
                <span class="formTitle" ><u>Workorder</u></span><br><br>
                <div class="formHeading">Facility
                    <select class="dropDown" v-model="cSelectedFacility" style="width:30px">
                        <option v-for="facility in facilities" :value="facility.id">{{facility.id}}</option>
                    </select>
                    <v-btn id="aSubmitButton" v-on:click="getEquipmentByFacility();" style="width:10px;height:25px;margin-bottom:15px">OK
                    </v-btn>
                </div><br>
                <span class="formHeading">Equipment: </span>
                <select class="dropDown" v-model="cSelectedEquipment">
                    <option v-for="equipment in allEquipments.equipments" :value="equipment.id">{{`${equipment.name}
                        ${equipment.id}`}}</option>
                </select><br>

                <span class="formHeading">Priority level: </span>
                <select class="dropDown" v-model="cPriorityId" style="width:30px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br><br>

                <span class="formHeading">Time to complete:
                    <input type="number" v-model="cCompleteTime" style="width:50px" min="1">&nbsphour(s)</span>
                <br><br>

                <v-btn id="aSubmitButton" v-on:click="submitOrderForm();fillOrdersWithName();" style="width:150px;font-size:14px">Submit
                    Order<v-icon dark right>check_circle</v-icon>
                </v-btn><br>

                <div class="formTitle" style="margin-top:50px">View Worker's Profile</div>
                <span class="formHeading">Worker's Name: </span>
                <select class="dropDown" v-model="aViewProfile">
                    <option v-for="worker in workers" :value="worker.id">{{worker.name}}</option>
                </select>
                <v-btn id="aSubmitButton" v-on:click="showProfile=true;clientFiller();getProfile();" style="width:50px;height:25px;margin-bottom: 15px">Search</v-btn><br>
                <div v-if="showProfile">
                    <span class="formHeading">
                        <ul>
                            <li>Name: {{allProfile.name}}</li>
                            <li>ID: {{allProfile.id}}</li>
                            <li>Shift: {{allProfile.shift}}</li>
                            <li>Certificates: <span v-for="cert in allProfile.certifications">{{cert.name}}, </span></li>

                        </ul><br>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/index.js"></script>
<link rel="stylesheet" href="../static/styles.css">

</html>